@charset "UTF-8";


/*
**********************************************************************

* header.css

*********************************************************************
*/

p#tagLine {
	line-height: 1.1;
	color: #999999;
	text-align: right;
}

#siteID {
	float: left;
	width: 359px;
}

#siteID img.serviceLogo {
	margin-right: 5px;
	margin-left: 5px;
}

#siteID img.serviceTitle {
	margin-left: 10px;
	margin-bottom: 5px;
}

dl#remoteNav dd.grpRelation ul {
	float: right;
}

dl#remoteNav dd.siteUtility {
	clear: right;
}

dl#remoteNav dd.siteUtility ul {
	float: right;
	margin-bottom: 3px;
	padding-top: 6px;
}

dl#remoteNav dd.grpRelation ul li,
dl#remoteNav dd.siteUtility ul li {
	float: left;
	line-height: 1.1;
	padding-right: 0.5em;
	padding-left: 0.5em;
	border-right: 1px solid #000000;
	list-style-type: none;
}

dl#remoteNav dd.grpRelation ul li.grpHome,
dl#remoteNav dd.siteUtility ul li.last {
	padding-right: 0;
	border: none;
}

dl#remoteNav dd.grpRelation ul li.grpHome {
	font-weight: bold;
}

dl#remoteNav dd.grpRelation ul li a,
dl#remoteNav dd.siteUtility ul li a {
	white-space: nowrap;
}

dl#sectionNav {
	clear: both;
	width: 100%;
	height: 29px;
	background: url(../images/common/tab_line.gif) repeat-x bottom;
}

dl#sectionNav dd.menuList {
	float: left;
	width: 315px;
	line-height: 0;
	font-size: 0;
}

dl#sectionNav dd.menuList ul li {
	display: inline;
	margin-right: 2px;
	list-style-type: none;
}

dl#sectionNav dd.menuList ul li img{
	margin-top: 3px;
	margin-bottom: 4px;
}

dl#sectionNav dd.menuList ul li.current img{
	margin-top: 0;
	margin-bottom: 0;
}

dl#sectionNav dd.expansionArea {
	position: relative;
	height: 29px;
	line-height: 1;
	margin-left: 315px;
}

dl#sectionNav dd.expansionArea p {
	position: absolute;
	right: 10px;
	bottom: 5px;
	margin-right: -10px;
}

dl#subSectionNav {
	clear: both;
	position: relative;
	width: 100%;
	padding: 5px 0 7px;
	background-color: #BF0000;
}
/* Start clearfix ------------------------------ */
dl#subSectionNav:after {
	display: block;
	clear:both;
	height: 0;
	line-height: 0;
	visibility: hidden;
	content: ".";
	font-size: 0.1em;
}

dl#subSectionNav { display: inline-block; }

/* Hides from IE-mac \*/
	* html dl#subSectionNav { height: 1%; }
	dl#subSectionNav { display: block; }
/* End hide from IE-mac */
/* -------------------------------- end clearfix */

dl#subSectionNav dd.menuList {
	line-height: 1.1;
	padding-left: 1px;
}

dl#subSectionNav dd.menuList ul li {
	display: inline; /* for Quirks Mode */
	float: left;
	margin-left: 0.5em;
	padding-right: 0.5em;
	border-right: 1px solid #ffffff;
	list-style-type: none;
	color: #ffffff;
}

dl#subSectionNav dd.menuList ul li.last {
	border: none;
}

dl#subSectionNav dd.menuList ul li a {
	color: #ffffff;
	white-space: nowrap;
}

dl#subSectionNav dd.menuList ul li.current {
	font-weight: bold;
}

dl#subSectionNav dd.expansionArea {
	display: inline; /* for Quirks Mode */
	float: right;
	width: 11em;
	line-height: 1.1;
	margin-right: 0.5em;
	text-align: right;
}

dl#subSectionNav dd.expansionArea p a{
	color: #ffffff;
}

dl#topicPath dd {
	clear: both;
	line-height: 1.6;
	padding: 0.25em 0;
}

dl#remoteNav dt,
dl#sectionNav dt,
dl#subSectionNav dt,
dl#topicPath dt {
	position: absolute;
	left: -9999px;
	width: 100px;
	height: 0;
}

#siteID img,
dl#sectionNav img,
dl#subSectionNav img {
	border: none;
}

div#grpheader p.noCSS {
	display: none;
}

div#grpheader ul.navSkip {
	position: absolute;
	left: -9999px;
	width: 100px;
	height: 0;
}

/* FooterLayout
----------------------------------------- */
div#grpRakutenLinkArea {
	margin: 0 auto 1em;
	border-top: 1px solid #808080;
	text-align: left;
}
/* clearfix ----------------- */
div#grpRakutenLinkArea div#footerNav:after {/*for modern browser*/
	display: block;
	clear:both;
	height: 0;
	line-height: 0;
	visibility: hidden;
	content: ".";
	font-size: 0.1em;
}
div#grpRakutenLinkArea div#footerNav {
	display: inline-block;
}
/* Hides from Mac-IE \*/
* html div#grpRakutenLinkArea div#footerNav {
	height: 1%;
}
div#grpRakutenLinkArea div#footerNav {
	display: block;
}
/* End hide from Mac-IE */
/*---------------------------*/
div#grpRakutenLinkArea div#footerNav dl {
	float: left;
	padding: 0.75em;
}
div#grpRakutenLinkArea div#footerNav p#grpAttention {
	float: right;
	padding: 0.75em;
}
div#grpRakutenLinkArea div#footerNav p#grpAttention * {
	vertical-align: middle;
}
div#footerNav dt {
	position: absolute;
	left: -9999px;
	width: 100px;
	height: 0pt;
}
div#grpRakutenLinkArea div#footerNav ul {
	margin-left: -0.35em;
}
div#grpRakutenLinkArea div#footerNav li {
	border-right: 1px solid #ADADAD;
	display: inline;
	list-style-type: none;
	margin-left: 0.35em;
	padding-right: 0.5em;
	zoom: 1;
}
div#grpRakutenLinkArea div#footerNav li.grpLast {
	border: none;
}
div#grpRakutenLinkArea div#footerNav a {
	white-space: nowrap;
}
div#grpRakutenLinkArea p.copyright {
	margin-top: 0.75em;
}

.div-css {
	font-weight: normal;
	font-size: 100%;
}
.column{
	float: left;
}
.column.month{
	width: 10%;
}
.column.unit{
	padding-top: 4px;
	padding-left: 4px;
	width: min-content;
}
.column.year{
	padding-left: 20px;
	width: 10%;
}
.row:after{
	content:"";
	display: table;
	clear: both;
}
.hidden {
	display: none;
}
